﻿
@{
    ViewBag.Title = "DataInput";
}
<style>
    input[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
    }

    input[type=text] {
        margin-bottom: 6px;
    }

    lista {
        margin: 6px,6px;
    }
</style>

<h2>Számold ki,mennyi kalóriát égetsz!</h2>


@if (TempData.ContainsKey("warning"))
{
    <p style="font-weight:bold;color:red">@TempData["warning"]</p>
}
<form action="/CalorieCounter/Data" method="post">

    <b> Sportoló neve</b> <input type="text" name="Nev" value="" /><br />

    <b> Sportoló tömege</b> <input type="text" name="TestSuly" value="" /><br />

    @* Gyakorlat <input type="text" name="Gyakorlat" value="" /><br />*@

    <b> Gyakorlat</b>
    <select id="lista" name="Gyakorlat">
        <option value="Running">Running</option>
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilates</option>
        <option value="Hiking">Hiking</option>
        <option value="Swimming">Swimming</option>
        <option value="Bicycle">Bicycle</option>
    </select>
    <br />

    <b>Gyakorlat hossza (perc)</b><input type="text" name="Perc" value="" /><br />

    <input type="submit" value="Kiszámol" />
</form>
