﻿@model MyF1.Web.Models.Result
@{
    ViewBag.Title = "Result";
}

<h2>Az eredmény</h2>
<br />
<hr />
<br />
<table width="300">
    <tr>
        <td><b>Sportoló neve</b></td>
        <td>@Model.OriginalNev</td>
    </tr>
    <tr>
        <td><b>Sportoló tömege</b></td>
        <td>@Model.OriginalTestSuly</td>
    </tr>
    <tr>
        <td><b>Gyakorlat hossza(perc)</b></td>
        <td>@Model.OriginalPerc</td>
    </tr>
    <tr>
        <td><b>Elégetett kalória</b></td>
        <td>@Model.ElegetettKaloria</td>
    </tr>
</table>


