﻿@model MyF1.Web.Models.MotorGyartok
@{ 
    ViewBag.Title = "MotorgyartokEdit";
}

<h2>Eidt one motorgyarto</h2>

@using (Html.BeginForm("Edit", "MotorGyartok"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m=>m.Id)
    @Html.Hidden("editAction",ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Nev)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nev)</div>

    <div class="editor-label">@Html.LabelFor(m => m.AlapitasEve)</div>
    <div class="editor-field">@Html.EditorFor(m => m.AlapitasEve)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Nemzetiseg)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Nemzetiseg)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Kozpont)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Kozpont)</div>

    <div class="editor-label">@Html.LabelFor(m => m.LoEro)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LoEro)</div>

    <div class="editor-label">@Html.LabelFor(m => m.GyozelmekSzama)</div>
    <div class="editor-field">@Html.EditorFor(m => m.GyozelmekSzama)</div>

    <input type="submit" value="Send" />
}