﻿@model MyF1.Web.Models.MotorGyartokViewModel
@{
    ViewBag.Title = "MotorGyarto Index";
}

<h2>MotorGyarto Index</h2>

<p style="color:red;font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("MotorGyartoEdit",Model.EditedMGy)
@Html.Partial("MotorGyartoList",Model.ListOfMGy)