﻿@model MyF1.Web.Models.MotorGyartok
@{
    ViewBag.Title = "MotorGyartoDetails";
}

<h2>Data shit of one car</h2>


@Html.ActionLink("Back to the list", "Index");
<table border="1">
    <tr>
        <td>The ID for the MotorGyarto</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nev)</td>
        <td>@Html.DisplayFor(m => m.Nev)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.AlapitasEve)</td>
        <td>@Html.DisplayFor(m => m.AlapitasEve)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Nemzetiseg)</td>
        <td>@Html.DisplayFor(m => m.Nemzetiseg)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Kozpont)</td>
        <td>@Html.DisplayFor(m => m.Kozpont)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LoEro)</td>
        <td>@Html.DisplayFor(m => m.LoEro)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.GyozelmekSzama)</td>
        <td>@Html.DisplayFor(m => m.GyozelmekSzama)</td>
    </tr>
</table>