﻿@model IEnumerable<MyF1.Web.Models.MotorGyartok>

@{ 
    ViewBag.Title = "MotorGyartokList";
}
<h2>List of Motorgyartok</h2>

@if (Model.Count() == 0)
{
    <p>Nincs adat az adatbázisban</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.First().Nev)</th>
            <th>@Html.DisplayNameFor(m => m.First().Kozpont)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.Nev)</td>
            <td>@Html.DisplayFor(m => item.Kozpont)</td>
            <td>@Html.ActionLink("[SHOW]","Details",new { id = item.Id })</td>
            <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.Id })</td>
            <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.Id })</td>

        </tr>
        }
    </table>
}